.x{ 
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

header{
    display:flex;
    align-items: center;
    height: 100px;
    
    }

.options{
    display:flex;
    align-items: center;
    justify-content:flex-start;
    width: 25%;
    height: 100%;
    float: left;
}

.hexagon{
    width: 90px;
    height: 90px;
}

.contenu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cont_icon {
    position: relative;
    width: 90px; 
    height: 50px;
}

.hexagon {
    width: 100%; 
    height: auto;
}

.icon {
    position: absolute;
    top: 49%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    font-size: 24px; 
    color: #EBB413;
    
}





.soratra_options{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #EBB413;
}

.logo{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.logo span{
    text-align: center;
    font-family: "Lobster", sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    color: #E5D9C0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
   
}

.logo .b{
    position: relative;
    color: #F05741;
    font-size: 60px;
    margin: 0 10px;
}

.log_pan{
   position: relative;
   display: flex;
   width: 25%;
   height: 100%;
    align-items: center;
    justify-content:flex-end;
}

.icon_d{
    color: #EBB413;
    font-size: 25px;
    margin: 0 15px;
}

.options{
    position: relative;
    left: -2%;
}

.log_pan{
    position: relative;
    left: 2%;
}


/*md*/
@media (max-width:991px){
    header{
        height: 80px;
    }

    .hexagon{
       width: 70px;
       height: 50px;
    }


    .icon {
        position: absolute;
        top: 46%;
        left: 39%;
        transform: translate(-50%, -50%);
        font-size: 20px; 
        color: #EBB413;
        
    }

    .soratra_options{
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        color: #EBB413;
        position: relative;
        left: -15px;
    }


    .logo span{
        text-align: center;
        font-family: "Lobster", sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        color: #E5D9C0;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .logo .b{
        position: relative;
        color: #F05741;
        font-size: 56px;
        margin: 0 10px;
    }

    .icon_d{
        color: #EBB413;
        font-size: 20px;
        margin: 0 12px;
    }
    
    .options{
        position: relative;
        left: -3%;
    }

    .log_pan{
        position: relative;
        left: 3%;
    }
}


/*sm*/
@media (max-width:767px){

    header{
        height: 70px;
    }

    .hexagon{
       width: 58px;
       height: 50px;
    }


    .icon {
        position: absolute;
        top: 47%;
        left: 32%;
        transform: translate(-50%, -50%);
        font-size: 17px; 
        color: #EBB413;
        
    }

    .soratra_options{
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        color: #EBB413;
        position: relative;
        left: -30px;
    }


    .logo span{
        text-align: center;
        font-family: "Lobster", sans-serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        color: #E5D9C0;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .logo .b{
        position: relative;
        color: #F05741;
        font-size: 50px;
        margin: 0 10px;
    }

    .icon_d{
        color: #EBB413;
        font-size: 16px;
        margin: 0 10px;
    }

    .options{
        position: relative;
        left: -4%;
    }

    .log_pan{
        position: relative;
        left: 4%;
    }
    
    

}

/*xs*/
@media (max-width:575px){
    header{
        height: 50px;
    }

    .hexagon{
       width: 54px;
       height: 50px;
    }


    .icon {
        position: absolute;
        top: 48%;
        left: 30%;
        transform: translate(-50%, -50%);
        font-size: 14px; 
        color: #EBB413;
        
    }

    .soratra_options{
        display: none;
    }


    .logo span{
        text-align: center;
        font-family: "Lobster", sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        color: #E5D9C0;
        height: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .logo .b{
        position: relative;
        color: #F05741;
        font-size: 42px;
        margin: 0 10px;
    }

    .icon_d{
        color: #EBB413;
        font-size: 14px;
        margin: 0 8px;
    }

    .options{
        position: relative;
        left: -5%;
    }

    .log_pan{
        position: relative;
        left: 5%;
    }
}



